---
import ClassicLayout from "../../../layouts/BaseLayout.astro";
---
<ClassicLayout title="Ferrofluids">
    <p id="date"><b>Project</b></p>
    <p>In the summer of my sophomore year at UC Berkeley, I got an opportunity to work with a math professor of mine on modeling ferrofluids.</p>
</ClassicLayout>