---
import ClassicLayout from "../../../layouts/BaseLayout.astro";
---
<ClassicLayout title="Radiative Transport">
    <p id="date"><b>Project</b></p>
    <p>In the Summer of 2024, I got to go to the Summer School for PDEs at Texas A&M, where I learned a lot, and got to do a project with three good friends and supervised by Prof. Jean-Luc Guermond. </p>
</ClassicLayout>