---
import ClassicLayout from "../../../layouts/BaseLayout.astro";
---
<ClassicLayout title="DARTH VADER">
    <p id="date"><b>Project</b></p>
    <p>While I was working with the VADER sentiment tool, I started to realize that the same thing that made it great, the gold-standard lexicon, was also its downfall. The tool wasn't bad when it came to things it was designed for, but the moment someone used even slightly different vocabulary that wasn't in its lexicon, it simply wasn't sensitive enough! </p>
        
    <p>To solve this issue, I started looking to see if I could design a new method that would allow us to tradeoff the "goldness" of the lexicon and the sensitivity of the model.</p>
</ClassicLayout>