---
import ClassicLayout from "../../../layouts/BaseLayout.astro";
---
<ClassicLayout title="Language Model Interpretability">
    <p id="date"><b>Project</b></p>
    <p>My introductory physics electromagnetism and optics lab class had a capstone project at the end, and so my partner and I decided to try and make pickup coils. I've always wanted to build my own electric guitar, so I was really hyped!</p>
</ClassicLayout>