---
import ClassicLayout from "../layouts/BaseLayout.astro";
---
<ClassicLayout title="Notes">
    <p id="date"><b>Project</b></p>
    
    <h3>Graduate Level Math</h3>


    
    <h3>Undergraduate Level Math</h3>

    <ul>
    <li>Linear Algebra (Princeton MAT 217): <a href="/notes/lin-alg">Teleport!</a></li>
    <li>Linear Algebra (MIT OCW 18.06): <a href="https://inthesolved.wordpress.com/linear-algebra-notes/" target="_blank">Teleport!</a> (this will take you to my old blog)</li>
    <li>Multivariable Calculus (High School): <a href="https://inthesolved.wordpress.com/mutivariable-calculus-notes-hs/" target="_blank">Teleport!</a> (this will take you to my old blog)</li>
    <li>Multivariable Calculus (MIT OCW 18.02): <a href="https://inthesolved.wordpress.com/mit-ocw-multivariable-calculus/">Teleport!</a> (this will take you to my old blog)</li>
    <li>AP Calculus BC (High School): <a href="https://inthesolved.wordpress.com/ap-calculus-bc-notes/" target="_blank">Teleport!</a> (this will take you to my old blog)</li>
    </ul>

    <h3>High School Math</h3>


    <h3>Undergraduate Level Computer Science</h3>


    <h3>Undergraduate Level Physics</h3>



    <p></p>
</ClassicLayout>

