---
import ClassicLayout from "../layouts/BaseLayout.astro";
import PokeMap from "../components/PokeMap";
---
<ClassicLayout title="🌊">
    <p id="date"><b>Project</b></p>
    <p>More coming soon!</p>

    <PokeMap client:load />
</ClassicLayout>