---
import SeaLayout from "../layouts/SeaLayout.astro";
import PokeMap from "../components/PokeMap";
---
<SeaLayout title="🌊">
    <p id="date"><b>Project</b></p>
    <p>More coming soon!</p>

    <PokeMap client:load />
</SeaLayout>