---
import ClassicLayout from "../../../layouts/BaseLayout.astro";
---
<ClassicLayout title="S^3: Shapes, Stories, and Snacks">
    <p id="date"><b>Project</b></p>
    <p>Coming soon!</p>
</ClassicLayout>