---
import CommentList from "./CommentList.astro";
import CommentForm from "./CommentForm.astro";

interface Props {
    postSlug: string;
}

const { postSlug } = Astro.props;
---

<div class="comments-section">
    <h3>Comments</h3>
    <div server:defer>
        <CommentForm postSlug={postSlug} />
        <CommentList postSlug={postSlug} />
    </div>
</div>