---
import ClassicLayout from "../../../layouts/BaseLayout.astro";
---
<ClassicLayout title="Cats and Monsters">
    <p id="date"><b>Project</b></p>
    <p>At the end of my introductory data structures class, we had to build a world! Optionally, we could turn it into a game, and since I love making engines and games, I decided to make a game (and an engine for it)!</p>
</ClassicLayout>